@model RWA.Models.ReviewReservationViewModel
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = "ApartmentDetails";
    var apartment = ViewBag.Apartment;
    var tags = ViewBag.Tags;
    var pictures = ViewBag.Pictures;
}

<div class="d-flex p-2">
    <div class="d-flex flex-row">
        <div class="p-2" style="text-align:center">
            <div class="card" style="margin:0 0 0 50px">
                @if (apartment.Base64Content != null)
                {
                    <img src=@("data:Image/png;base64," + Convert.ToBase64String(apartment?.Base64Content)) width="250" height="250" />

                }
                <h1>@apartment.Name</h1>
                <div style="text-align:left">
                    <ul>
                        <li>@apartment.BeachDistance m</li>
                        <li>@apartment.TotalRooms rooms</li>
                        <li>@apartment.MaxAdults adults</li>
                        <li>@apartment.MaxChildren children</li>
                    </ul>
                </div>
                <h3>@apartment.Price €</h3>
                <ul>
                    @foreach (var item in tags)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </div>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="margin:0 0 0 100px">
                <h4>ApartmentReservation</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Reservation.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reservation.UserEmail, new { htmlAttributes = new { @class = "form-control", @Value = ((DataLayer.Model.AspNetUsers)Session["user"])?.Email } })
                        @Html.ValidationMessageFor(model => model.Reservation.UserEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reservation.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reservation.UserName, new { htmlAttributes = new { @class = "form-control", @Value = ((DataLayer.Model.AspNetUsers)Session["user"])?.UserName } })
                        @Html.ValidationMessageFor(model => model.Reservation.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reservation.UserPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reservation.UserPhone, new { htmlAttributes = new { @class = "form-control", @Value = ((DataLayer.Model.AspNetUsers)Session["user"])?.PhoneNumber } })
                        @Html.ValidationMessageFor(model => model.Reservation.UserPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reservation.UserAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reservation.UserAddress, new { htmlAttributes = new { @class = "form-control", @Value = ((DataLayer.Model.AspNetUsers)Session["user"])?.Address } })
                        @Html.ValidationMessageFor(model => model.Reservation.UserAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reservation.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reservation.Details, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Reservation.Details, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (Session["user"] == null)
                {
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.RecaptchaWidget()
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        @if (Session["user"] != null)
        {
            @Html.Partial("_ReviewFormSubmit", Model)
        }


    </div>

    <div style="margin:0 0 0 100px">
        @foreach (var item in pictures)
        {
            if (item.Base64Content != null)
            {
                <a data-fancybox="gallery" href=@("data:Image/png;base64," + Convert.ToBase64String(item?.Base64Content)) width="250" height="250">
                    <img src=@("data:Image/png;base64," + Convert.ToBase64String(item?.Base64Content)) width="250" height="200" />
                </a>
            }
        }
    </div>

</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        console.log("forma");
        const field = document.querySelector("#details-field");
        const fieldStars = document.querySelector("#stars-field");
        const forma = document.querySelector("#ApartmentReviewForm")

        forma.onsubmit = function (e) {
            e.preventDefault();
            console.log(field);
            $.ajax({
                type: "POST",
                url: "/Home/CreateApartmentReview",
                data: {
                    Details: field.value,
                    Stars: fieldStars.value
                },
                success: function (data) {
                    alert("Hvala na reviewu!")
                },
                error: function (err) {
                    alert("Error")
                }
            })
        }
    </script>
    <script src=@("https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")></script>
}
